<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.:: Bets ::.</title>
</head>
<body>

 <form method="POST" class="post-form" >
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                    <h3>Apuestas:</h3>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">usuario:</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Liga:</label>
                    <div class="col-sm-4">
                        <select name="select">
                            {% for liga in ligas %}
                            <option value="{{ liga.id }}">{{ liga.liga }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="name" value="{{ user.name }}" />
                    </div>
                </div>

             <div class="form-group row">
                    <label class="col-sm-2 col-form-label">usuario:</label>
                </div>
             <div class="form-group row">
                    <label class="col-sm-2 col-form-label">usuario:</label>
                </div>

            </div>
        </form>

</body>
</html>